.input-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  color: var(--color4);
  text-transform: uppercase;
  justify-content: center;
  font-weight: 700;
  font-size: 100%;
}

.input-data * {
  width: 100%;
}

input {
  font-size: calc(var(--font-input-size) - 50%) !important;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid var(--color3);
}

input:focus-visible {
  border: 2px solid var(--purple);
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 50rem) {
  input {
    display: grid;
    max-width: 100%;
  }

  .input-data {
    grid-template-columns: repeat(3, minmax(120px, 145px));
    justify-content: start;
    gap: 32px;
  }
}