.input-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  color: var(--color4);
  text-transform: uppercase;
  justify-content: center;
  font-weight: 700;
  font-size: 100%;
}

.input-data * {
  width: 100%;
}

input {
  font-size: calc(var(--font-input-size) - 50%) !important;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid var(--color3);
  appearance: textfield;
}

input:focus-visible {
  border: 1.9px solid var(--purple);
  outline: none;
  cursor: pointer;
  transition: .2s ease;
}

span[id^="error"] {
  /* position: absolute; */
  content: 'Eae beleza';
  margin: 5px 0px;
  color: red;
  display: flex;
  place-content: center;
  font: italic 400 xx-small 'Poppins', sans-serif;
  text-transform: none;
}

label.limitValue::after {
  /* content: 'Value should be between 1~31'; */
  justify-content: center;
  color: red;
  width: 25ch;
  display: flex;
  font-size: x-small;
}

@media screen and (min-width: 48rem) {
  input {
    display: grid;
    max-width: 100%;
  }

  .input-data {
    grid-template-columns: repeat(3, minmax(120px, 145px));
    justify-content: start;
    gap: 32px;
  }
}